* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
    color: #555;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 0;
    margin-top: 60px;
}

.hero span {
    color: #f4b400;
    font-size: 14px;
}

.hero h1 {
    font-size: 36px;
    margin-top: 10px;
}

.line {
    width: 60px;
    height: 4px;
    background: #f4b400;
    margin: 20px auto;
}

/* TWO COLUMN */
.two-column {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 5px 120px;
  background: #fff;
}

/* TEXT */
.two-column .text {
  flex: 1;
}

.two-column .text h2 {
  font-size: 28px;
  font-weight: 700;
  color: #b0b0b0;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.two-column .text p {
  font-size: 15px;
  line-height: 1.9;
  color: #666;
  margin-bottom: 20px;
}

/* IMAGE */
.two-column .image {
  flex: 1;
}

.two-column .image img {
  width: 100%;
  height: auto;
  display: block;
}


/* SECTION */
.section-center {
    text-align: center;
    padding: 80px;  
}

.line {
    text-align: left;
}

.gray {
    background: #f9f9f9;
}

/* CARD */
/* ===== CARD SECTION ===== */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

/* Card */
.card {
  background: #fff;
  text-align: left;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.card h3 {
  margin: 18px 0 10px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  color: #666;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: #fff;
}