/* TAKE US WITH YOU */
.take-us {
  text-align: center;
  padding: 80px 0;
  background: #fff;
}

.take-us p {
    color: #f5b400;
}

.take-us h2 {
  font-size: 28px;
  letter-spacing: 2px;
  color: #aaa;
}

.take-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 50px;
}

.take-item i {
  font-size: 36px;
  color: #f5b400;
  margin-bottom: 15px;
}

.take-item h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.take-item p {
  font-size: 14px;
  color: #888;
  line-height: 1.6;
}

/* GALLERY */
.gallery-section {
  text-align: center;
  padding: 80px 0;
  background: #fff;
}

.gallery-section p {
    color: #f5b400;
}

.gallery-section h2 {
  font-size: 32px;
  color: #aaa;
  letter-spacing: 3px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.gallery-grid img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.3s;
}

.gallery-grid img:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .take-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .take-grid {
    grid-template-columns: 1fr;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
